@mixin base() {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 40rem;
    justify-content: center;
    opacity: 1;
    text-align: center;

    @media all and (min-width: 768px) {
        height: 50rem;
        width: 50rem;
    }
    
}

&__coach {
    @include base; 

}