@mixin base() {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    opacity: 1;
    text-align: center;

    @media all and (min-width: 768px) {
    }
    
}

&__coach {
    @include base; 

}