@mixin base() {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;

    @media all and (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

&__nav {
    @include base;

}