@mixin base() {
    background-color: #D3D3D3;
    color: #fff;
    background-image: url('../images/fnlrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: calc(0px - (100vw - 100%) / 2);
    margin-right: calc(0px - (100vw - 100%) / 2);

    padding: 12px calc(0px + (100vw - 100%) / 2) 0;

    // @media screen and (min-width: 768px) {
    //     align-items: flex-end;
        padding-bottom: 0;
        // padding-top: 24px;
    // }
    
}

.page-header {
    @include base;

    @import 'branding';
    @import 'content';
    @import 'navigation';
    @import 'sub-navigation';
}