@mixin base() {
    // margin: 0 auto;
    // padding: 5rem;
    // text-align: center;
    background-color: #333;
    box-shadow: 0 10px 4px -4px #111;
    color: #fff;
    margin: 0 auto;
    width: 80%;
}

&__content {
    @include base;
}