@mixin base() {
    margin-top: 3rem;

    @media all and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        padding: 5rem;
    }
}

&__content {
    @include base;

    @import 'form';
    @import 'information';
}