@mixin base() {
    background-color: #333;
    color: #fff;
    padding-bottom: 10rem;
    text-align: center;
}

.abilities {
    @include base;

    @import 'ability';
    @import 'image';
    @import 'content';
    @import 'container';
    @import 'heading';
}